@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Open+Sans&family=Rubik:wght@300&display=swap');

a:link {
    color: rgb(27, 27, 27);
    text-decoration: none;
    cursor: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: hotpink;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #000000;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

ul {
    list-style: outside none none;
}

.menu {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    margin-left: 75%;
    font-size: 8px;
    font-family: 'JetBrains Mono', monospace;
}

.menu a {
    cursor: crosshair !important;
}

.menu li {
    float: right;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

.menu:hover {
    font-size: 10px;
    color: hotpink;
}

.menu li a:hover:active {
    color: hotpink !important;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover:not(.active) {
    background-color: black;
    color: #ffffff;
    font-size: 15px;
}

.menu li a.active {
    float: right;
}

.casa li a:hover:not(.active) {
    background-color: black;
    color: #ffffff;
    font-size: 15px;
}

h1 {
    font-size: 5em;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: 10px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    font-size: 2.8em;
    font-family: 'JetBrains Mono', monospace;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    letter-spacing: 5px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 5%;
    margin-right: 0;
    font-weight: bold;
}

.ilnomecheappareprimadelresto {
    margin-left: 10px;
}

.ilnomecheappareprimadelresto:hover span {
    display: none;
}

.ilnomecheappareprimadelresto:hover:before {
    content: "LOVES TO DRAW MAPS";
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.ilnomecheappareprimadelrestopt:hover span {
    display: none;
}

.ilnomecheappareprimadelrestopt:hover:before {
    content: "APAIXONADO POR DESENHAR MAPAS";
    font-size: 0.5em;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.dopoilnomecheappareprimadelresto {
    width: 800px;
    outline: solid 5px #000000;
    padding: 20px;
}

.dopoilnomecheappareprimadelrestopt {
    width: 800px;
    outline: solid 5px #000000;
    padding: 20px;
}

.ascii {
    text-align: center;
}

.react-grid-item {
    outline: solid 1px #000000;
    transition: outline 0.6s linear;
    margin: 0.5em;
}

.react-grid-item:hover {
    outline-width: 5px;
}

.react-grid-layout {
    max-width: 98%;
    margin: auto;
}

.react-grid-item.react-grid-placeholder {
    background: hotpink !important;
    opacity: 1;
}

.header {
    list-style-type: none;
    max-height: 10%;
}

.index {
    color: black;
    display: inline;
    max-width: fit-content;
    padding: 2px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5em;
}

.year {
    color: aliceblue;
    background-color: black;
    display: inline;
    float: right;
    max-width: fit-content;
    padding: 2px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.8em;
}

.yeartext {
    color: black;
    display: inline;
    float: right;
    max-width: fit-content;
    padding: 2px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.8em;
    border: 1px solid black;
}


.viz {
    width: auto;
    height: 100px;
    max-height: 20%;
    margin: 2%;
}

.title {
    color: black;
    max-width: 100%;
    padding: 0.2em;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
    font-size: 3.3em;
    margin-top: 10%;
    max-height: 70%;
    overflow: hidden;
    min-height: 150px !important;
}

.title a {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='32' viewport='0 0 32 32' style='font-size:50px;'><text y='130%' x='-25%'>📁</text></svg>") 16 0, auto !important;
}

.titletext a {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='32' viewport='0 0 32 32' style='font-size:50px;'><text y='130%' x='-25%'>🖊️</text></svg>") 16 0, auto !important;
}


.titletext {
    color: black;
    max-width: 100%;
    padding: 0.2em;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.8em;
    font-weight: 600;
    margin-top: 10%;
    max-height: 70%;
    overflow: hidden;
}

.description {
    float: right;
    max-width: fit-content;
    padding: 2px;
    font-family: 'JetBrains Mono', monospace;
    width: auto;
    margin-left: 15%;
    margin-right: 5%;
    font-size: 0.6em;
    max-height: 25%;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='32' viewport='0 0 32 32' style='font-size:50px;'><text y='130%' x='-25%'>🖊️</text></svg>") 16 0, auto !important;
}

.title:hover {
    color: hotpink;
    display: inline-block;
    mix-blend-mode: exclusion;
    cursor: url("https://www.svgrepo.com/show/428064/photos.svg"), auto;
}

.titletext:hover {
    color: hotpink;
    display: inline-block;
    mix-blend-mode: exclusion;
}

.description:hover {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 0.78em;
    display: inline-block;
    mix-blend-mode: hard-light;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(255, 255, 255);
    text-underline-offset: 2px;
    text-decoration-thickness: 14px;
    cursor: url("https://www.svgrepo.com/show/428070/paper.svg"), auto;
}

.description a {
    color: rgb(0, 0, 0);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='32' height='32' viewport='0 0 32 32' style='font-size:50px;'><text y='130%' x='-25%'>🖊️</text></svg>") 16 0, auto !important;
}

.popup {
    margin: auto;
    width: 90%;
    border: 3px solid green;
    padding: 10px;
}

.headerpopup {
    margin: 10px;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.8em;
    padding: 10px;
    background-color: white;
    border-radius: 2px;
}

.animal:hover {
    background: url("../../public/img/animal.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 280px;
    background-attachment: fixed;
    background-position: top right;
}

.comunidados:hover {
    background: url("../../public/img/tingua.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 180px;
    background-attachment: fixed;
    background-position: top right;
}

.blood:hover {
    background: url("../../public/img/blood.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.defence:hover {
    background: url("../../public/img/defence.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.shores:hover {
    background: url("../../public/img/shores.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.onda:hover {
    background: url("../../public/img/onda.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.tracker:hover {
    background: url("../../public/img/tracker.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.agathe:hover {
    background: url("../../public/img/agathe.png") no-repeat;
    background-repeat: no-repeat;
    background-size: 350px;
    background-attachment: fixed;
    background-position: top right;
}


.underwater:hover {
    background: url("../../public/img/underwater.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.metro:hover {
    background: url("../../public/img/metro.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.uganda:hover {
    background: url("../../public/img/uganda.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.paz:hover {
    background: url("../../public/img/paz.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.vie:hover {
    background: url("../../public/img/vie.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.diesel:hover {
    background: url("../../public/img/diesel.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.sound:hover {
    background: url("../../public/img/sound.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.carto:hover {
    background: url("../../public/img/cover-carto.png") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.beatrice:hover {
    background: url("../../public/img/beatrice-cover.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.ishasha:hover {
    background: url("../../public/img/IDPs.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 200px;
    background-attachment: fixed;
    background-position: top right;
}

.quilombo:hover {
    background: url("../../public/img/quilombolas.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 300px;
    background-attachment: fixed;
    background-position: top right;
}

.forest:hover {
    background: url("../../public/img/forest.png") no-repeat;
    background-repeat: no-repeat;
    background-size: 750px;
    background-attachment: fixed;
    background-position: top right;
}

.ice:hover {
    background: url("../../public/img/ice.png") no-repeat;
    background-repeat: no-repeat;
    background-size: 750px;
    background-attachment: fixed;
    background-position: top right;
}

.desert:hover {
    background: url("../../public/img/desert.png") no-repeat;
    background-repeat: no-repeat;
    background-size: 750px;
    background-attachment: fixed;
    background-position: top right;
}

.amazonia:hover {
    background: url("../../public/img/amazonia.png") no-repeat;
    background-repeat: no-repeat;
    background-size: 350px;
    background-attachment: fixed;
    background-position: top right;
}

.candomble:hover {
    background: url("../../public/img/candomble.png") no-repeat;
    background-repeat: no-repeat;
    background-size: 550px;
    background-attachment: fixed;
    background-position: top right;
}

.idp:hover {
    background: url("../../public/img/idp.jpeg") no-repeat;
    background-repeat: no-repeat;
    background-size: 450px;
    background-attachment: fixed;
    background-position: top right;
}

.bugoma:hover {
    background: url("../../public/img/bugoma-CFR.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.wwa:hover {
    background: url("../../public/img/wwa.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.izzi:hover {
    background: url("../../public/img/Izzi.jpg") no-repeat;
    background-repeat: no-repeat;
    background-size: 250px;
    background-attachment: fixed;
    background-position: top right;
}

.simpleshort:hover {
    background: url("../../public/img/simpleshort.png") no-repeat;
    background-repeat: no-repeat;
    background-size: 400px;
    background-attachment: fixed;
    background-position: top right;
}

.legend {
    width: 85%;
    margin: 100px auto;
    text-align: justify;
    text-justify: auto;
}

.legendtext {
    float: right;
    max-width: fit-content;
    margin-left: 22px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    font-size: 0.75em;
    background-color: white;
    padding: 1px;
}

.bio {
    width: 66%;
    margin: 40px auto;
    text-align: justify;
    text-justify: auto;
}

.biotext {
    float: right;
    max-width: fit-content;
    margin-top: 22px;
    margin-left: 22px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
    font-size: 0.75em;
    background-color: white;
    padding: 1px;
}

.content {
    filter: hue-rotate(300deg);
    -webkit-filter: hue-rotate(300deg);
    -moz-filter: hue-rotate(300deg);
    box-shadow: none !important;
}

.react-grid-item {
    cursor: move !important;
}

@media screen and (max-width: 480px) {

    .menu li a {
        padding: 14px 8px !important;
    }

    .legend {
        width: 70%;
        margin: 80px auto;
    }

    .legendtext {
        float: right;
        max-width: fit-content;
        margin-left: 22px;
        font-family: 'JetBrains Mono', monospace;
        font-weight: 900;
        font-size: 0.65em;
        background-color: white;
        padding: 1px;
    }

    .bio { 
        width: 75%;
        margin: 20px auto;
    }

    .biotext {
        margin-left: 10px;
        font-family: 'JetBrains Mono', monospace;
        font-weight: 600;
        font-size: 0.75em;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .react-grid-item {
        margin: 0;
    }

    .menu {
        font-size: 6px;
        margin-top: 50px;
        line-height: 1.8;
    }

    .ilnomecheappareprimadelresto>span {
        max-width: 300px;
        word-wrap: break-word;
        font-size: 0.38em !important;
        display: inline-block;
        -webkit-transform: scale(1, 5);
        -moz-transform: scale(1, 5);
        -ms-transform: scale(1, 5);
        -o-transform: scale(1, 5);
        transform: scale(1, 5);
        padding-bottom: 10px;
    }

    .ilnomecheappareprimadelrestopt>span {
        max-width: 300px;
        word-wrap: break-word;
        font-size: 0.38em !important;
        display: inline-block;
        -webkit-transform: scale(1, 5);
        -moz-transform: scale(1, 5);
        -ms-transform: scale(1, 5);
        -o-transform: scale(1, 5);
        transform: scale(1, 5);
        padding-bottom: 10px;
    }

    .dopoilnomecheappareprimadelresto {
        max-width: 300px;
        margin: auto;
        padding: 20px;
        font-size: 2em !important;
    }

    .dopoilnomecheappareprimadelrestopt {
        max-width: 300px;
        padding: 20px;
        font-size: 1.5em !important;
    }


}